.App {
  font-family: "Changa", sans-serif;
  text-align: center;
  letter-spacing: 2px;
  background-image: url("./styles/imgs/pokemonUpdated.png");
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

body::-webkit-scrollbar {
  background: transparent;
}

body::-webkit-scrollbar-thumb {
  background-image: url("./styles/imgs/pokemonUpdated.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  /* border-radius: 10px; */
}
.logo {
  margin-top: 8vh;
  margin-bottom: 3vh;
}
ul {
  list-style: none;
}

.main-img {
  min-width: 100px;
}

h1 {
  text-transform: capitalize;
}

button {
  border: none;
  background-color: rgba(138, 156, 235, 0.562);
  transition: 0.7s;
  font-family: "Changa", sans-serif;
  font-weight: bolder;
  font-size: 16px;
  border-radius: 4px;
  outline: none;
}
button::before,
button::after,
.type-btn::after,
.type-btn::before {
  position: absolute;
  content: "";
  left: 0;
  width: 30px;
  height: 1px;
  background: none;
  opacity: 0;
  transform: scaleX(0);
  transition: 0.4s ease-in-out;
}
button::before,
.type-btn::before {
  top: 0;
}
button::after,
.type-btn::after {
  bottom: 0;
}
button:hover {
  letter-spacing: 2px;
  color: black;
  background: transparent;
  box-shadow: inset 0 -54px 0 0 rgb(138, 156, 235);
}

.type-btn:hover {
  background: transparent;
  box-shadow: inset 0 -54px 0 0 rgb(235, 138, 138);
}
button:hover::before,
button:hover::after,
.type-btn:hover::after,
.type-btn:hover::before {
  opacity: 1;
  transform: scaleX(1.1);
}

input {
  border: none;
  outline: none;
  background-color: white;
  border-radius: 10px;
  margin: auto;
  height: 30px;
  font-size: 16px;
}

.card-div {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  background-color: rgba(240, 229, 170, 0.76);
  border-radius: 8px;
  border: black solid 2px;
  padding: 10px;
  margin: 7px;
  display: inline-block;
}

.lists {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.search-btn {
  margin: 3px;
}

.type-item {
  transition: 0.4s ease-in-out;
  max-width: 200px;
  display: inline-block;
  margin: 4px;
  padding: 4px;
}

.type-item:hover {
  cursor: pointer;
  box-shadow: inset 0 -80px 0 0 rgb(138, 177, 235);
}

.type-item-text {
  text-align: center;
}

.type-item-text > h3 {
  min-width: 30%;
}

.type {
  justify-content: space-evenly;
}

.type-btn {
  transition: 0.7s;
  min-width: 50px;
  padding-right: 15px;
  padding-left: 15px;
}

.type-list {
  flex-direction: row;
  overflow: auto;
  overflow-y: hidden;
  white-space: nowrap;
  width: 50vw;
  height: 250px;
  background-color: rgba(238, 238, 238, 0.473);
  margin: 10px;
  border-radius: 7px;
  border: black solid 1px;
}

.type-list::-webkit-scrollbar {
  background: transparent;
}

.type-list::-webkit-scrollbar-thumb {
  background-image: url("./styles/imgs/pokemonUpdated.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  /* border-radius: 10px; */
}

.showModal {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.hideModal {
  display: none; /* Hidden by default */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.showButton {
  display: inline-block;
  background-color: rgba(135, 202, 204, 0.774);
}
.hideButton {
  display: none;
}
