/* The Modal (background) */
.showModal {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.hideModal{
  display: none; /* Hidden by default */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.showButton{
  display: inline-block;
}
.hideButton{
  display: none;
}
@import url(//db.onlinewebfonts.com/c/f4d1593471d222ddebd973210265762a?family=Pokemon);
.App {
  font-family: Pokemon;
  text-align: center;
  letter-spacing: 2px;
  background-image: url("C:\dev\pokedex-task\client\src\styles\imgs\pokemon updated.png");
  /* height: 100vp; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: 75%;
}
.logo {
  margin-top: 8vh;
  margin-bottom: 3vh;
}
ul {
  list-style: none;
}
button {
  font-family: Pokemon;
  background-color: rgb(32, 31, 31);
  letter-spacing: 2px;

  color: white;
  border-radius: 10px;
}
input {
  font-family: Pokemon;

  background-color: white;
  border-radius: 10px;

  margin: auto;
}
.lists {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.collection,
.type-list {
  flex-direction: column;
  overflow-y: scroll;
  height: 50vh;
}
.collection::-webkit-scrollbar,
.type-list::-webkit-scrollbar {
  display: none;
}
